.head{
    width:100%;
}
.news-detail{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   margin-bottom:10px;
}
.news-title{
    margin-top:40px;
    width:95%;
    text-align:center;
}
.news-detail>div{
}
.second-title{
    width:100%;
}
.third-title{
    width:98%;
    margin-left:8%;
}
.third-title>span{
    margin:0 5px 0 0;
    cursor:pointer;
    font-size:12px;
}
.third-title>span:hover{
    color:blue;
}
.third-title>img{
    max-width:100%;
}
.class-until{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    margin-left:5%;
}
.singal-class{
    width:98px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin:20px 10px 10px 10px;
}
.singal-class a{
    width: 100%;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #D2E1F1;
}
.singal-class a img{
    width:100%;
    height:100%;
}
.class-bottom{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
}
.class-bottom span{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    font-size:12px;
}
.class-bottom img{
    width:50px;
    border-radius:25px;
    margin:0 20px;
}
.class-selected{
    border-color:#0077AA!important;
}
